@import '../../variables';

div {
  position: relative;
}

table {
  position: fixed;
  display: flex;
  top: 267px;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  border-collapse: collapse;
  font-family: Poppins;

  .header {
    background-color: $secondary-color;
    gap: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }

  th,
  td {
    width: 190px;
    padding: 8px 20px;
    text-align: center;
    border-bottom: 1px solid $items-color;
  }

  td {
    color: $primary-color;

    button {
      background-color: inherit;
      color: $secondary-color;
      text-align: center;
      padding: 5px 10px;
      font-family: Poppins;
      border: none;
      cursor: pointer;

      &:hover {
        transition: ease-in-out .2s;
        transform: scale(1.1);
        text-shadow: $secondary-color 1px 0 5px;
      }
    }
  }
}