@import '../../variables';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: $primary-color;
    margin: 0;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
  }

  input {
    width: 704px;
    height: 68px;
    border: 1px solid $input-field;
    border-radius: 8px;
    background-color: inherit;
    padding: 20px 558px 20px 24px;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    color: $primary-color;
    margin: 40px;
  }

  .divider {
    display: block;
    background-color: $divider;
    width: 100vw;
    height: 1px;
    margin-bottom: 24px;
  }
}