$primary-color: #D6D6D6;
$secondary-color: #811AC0;
$items-color: #212121;
$pages-color: #D4D4D4;
$arrows-color: #979090;
$divider: #2D2B2B;
$search-text: #717171;
$input-field: #E7E6E6;
$treatment: #C3C3C3;